@font-face {
	font-family: 'Product Sans';

	src: url('./assets/fonts/Product\ Sans\ Bold.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.nav-controls:hover {
	color: darkgreen;
}

.nav-controls a {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	color: #d2f1e1;
	transition: opacity 0.125s linear;
	font-size: 0.8em;
}

.nav-controls a:hover {
	color: darkgreen;
	text-decoration: underline;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

.first-container {
	background: url(./assets/images/BG_withoutbulb.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.nav-container {
	height: 58px;
	width: 100%;
	position: fixed;
	color: black;
	letter-spacing: 0.025em;
	background-color: grey;
	opacity: 0.7;
	transition: background-color 0.2s linear;
}
.nav-container.solid-nav {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color 0.2s linear;
}
.nav-container .nav-row {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 18px;
}
.nav-container .nav-row .nav-logo {
	display: inline-block;
	font-weight: 900;
}
.nav-container .nav-row .nav-controls {
	margin-left: 33%;
	margin-top: -2.5%;
}
.nav-container .nav-row .nav-controls a {
	padding-left: 50px;
}
.container {
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 25px;
	padding-right: 25px;
}
.row {
	max-width: 1200px;
	margin: 0 auto;
}
.nav-user {
	padding: 5px 5px 5px 5px;
	float: right;
	margin-top: -2.8%;
	background-color: transparent;
	color: white;
	margin-right: -3%;
}

.logo-nav {
	width: 4em;
	height: 4em;
	position: fixed;
	margin-top: -3.5%;
	margin-left: -2%;
	padding: 3px 3px 3px 3px;
}




.logo-nav{

    height: 12vh;

}

.user{

    margin-bottom: -1%;

    font-size: 7vh;
	color: #fff;

}

.nav-content{

    margin-left: 25vw;

}

.elements{

    margin: 0 3vw;

}

.elements a{

	color: #d2f1e1;
	transition: opacity 0.125s linear;
	font-size: 0.8em;
}


.elements a:hover {

	color: darkgreen;
	text-decoration: underline;
	
}

.components {
	margin: 0;
	position: absolute;
	width: 400px;
	height: 430px;
	left: 65%;
	bottom: 0;
}

.comp-layer {
	position: absolute;
	width: 450px;
	animation: image-spin 15s infinite linear;
	left: -75px;
	top: -68px;
}

.banner-bulb {
	position: absolute;
	width: 300px;
}

@keyframes image-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.logo-layer {
	margin-top: -3%;
}

.logo-svg {
	margin-left: -1.5%;
	width: 12em;
	height: 12em;
}

.hero-content {
	margin-top: 15%;
}
.primary-title {
	margin-top: -12%;
	margin-left: -1%;
	color: #d2f1e1;
	font-size: 5em;
	text-align: left;
	font-family: 'Product Sans';
	/* text-shadow: 10px 10px rgba(0, 0, 0, 0.35); */
}

.secondary-title {
	font-size: 3em;
	color: #d2f1e1;
	font-family: 'Product Sans';
	text-align: left;
	margin-left: -1%;
}



@media (min-device-width: 768px){
	.nav-container{
		height: 63px;
	}
	
	.nav-user{
		margin-top: -10px;
		margin-right: -10px;
	}
	
	.logo-nav{
		margin-top: -37px;
		margin-left: -10px;
	}
	/* 
	.nav-controls{
		margin-left: 70px;
		position: relative;
	
	} */
	
	}
	
	
	@media (max-device-width: 767px){
	.nav-user{
		margin-top: -10px;
		margin-right: -10px;
	}
	
	.logo-nav{
		margin-top: -39px;
		margin-left: -10px;
	}
	}
	
	
	@media (max-device-width: 991px){
	.logo-layer{
		margin-left: 5%;
	}
	
	.primary-title{
		margin-top: -43%;
		margin-left: 38%;
		font-size: 4em;
	}
	
	.secondary-title{
		margin-left: 38%;
		font-size: 3em;
	}
	
	img .banner-bulb{
		margin-left: -66%;
	}
	}